/* Selector {
    Property: value;
} */
body {
    /* background-image: url(background-image.jpg);
    background-size:  cover;*/
}
h2, p{
    color: #AA4139;
    text-align: center;
    border: 5px solid rgb(255,176,170,0.5);
    cursor: pointer;
}

p {
    color: black;
    font-family: 'Poiret One', cursive;
}

img {
    float: right;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {
    border: 5px dashed green;
}

.active {
    color: red;
}

#div1 {
    background: rgba(0, 0, 255, 0.2) ;
}

#div2 {
    background: rgba(0, 255, 0, 0.2);
}

.boxmodel{
    border: 5px solid red;
    display:inline-block;
    padding: 5px 20px;
    margin: 0px 20px;
}